*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.announcements{
}
.body-grid{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}
.header{
    grid-area: 2 / 2 / 1 / span 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5px;
    margin-left: 5px;
}
.header-buttons{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.header-buttons button{
    height: 50px;
    width: 100px;
}
.header-greeting{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr;
}
.greeting, .user-greeting{
    align-items: center;
    justify-self: flex-start;
}
.greeting{
    grid-area: 1 / 2;
}
.user-greeting{
    grid-area: 2 / 2;
}
.header-userpanel{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: center;
    align-items: center;
}

.header div{
    display: grid;
    justify-content: center;
}
.projects{
    grid-area: 2 / 2 / span 2 / 2;
    margin-left: 5px;
}
.project-container{
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}
.sidebar{
    grid-area: 1 / 1 / span 3 / 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
}
.sidebar-logo{
    display: grid;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.sidebar-menu{
    list-style: none;
    display: grid;
    font-size: 18px;
    gap: 25px;
}
.sidebar-menu-container{
    height: 90%;
    grid-area: 2 / 1 / span 3 / 1;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}
.sidebar-menu:nth-child(2){
    align-self: flex-start;
}
.trending{
    grid-area: 3 / 3 / 3 / 3;
}
input{
    height: 50px;
    width: 500px;
}
/* shadows */
.sidebar,
.header{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* padding */
.projects,
.announcements,
.trending{
    padding: 30px;
}
.sidebar,
.header{
    padding: 15px;
}
/* background colors */
body,
.header{
    background-color: white;
}
.sidebar{
    background-color: rgb(167, 161, 255);
}
.projects,
.announcements,
.trending{
    background-color: rgba(240, 240, 240, 0.877);
}
